<div class="kUltraBlock">

  <div class="flexBlock">
    <div>
      <dl>
        {{#if dicePool}}
        <dt>Dice Pool:</dt>
        <dd>
          <div class="niceNumber" onmousedown="let v = event.target.textContent;let i= this.querySelectorAll('input')[1];if(v=='+'){i.value++}if(v=='−'){i.value--};i.dispatchEvent(new Event('input'))">
            <input name="dicePoolBase" type="number" min="-99" max="99" value="{{dicePool}}" readonly>
            <div class="theNumber"><span>+0</span><input name="dicePoolBonus" type="number" min="-99" max="99" value="0" oninput="this.previousElementSibling.textContent=((this.value==''||this.value<0)?'':'+')+this.value"></div>
            <div class="numBtns">
              <div class="plusBtn">+</div>
              <div class="minusBtn">−</div>
            </div>
          </div>
        </dd>
        {{else}}
        <dt>Dice Pool:</dt>
        <dd>
          <div class="niceNumber" onmousedown="let v = event.target.textContent;let i= this.querySelectorAll('input')[0];if(v=='+'){i.value++}if(v=='−'){i.value--};i.dispatchEvent(new Event('input'))">
            <div class="theNumber first"><span>0</span><input name="dicePoolBonus" type="number" min="-99" max="99" value="0" oninput="this.previousElementSibling.textContent=this.value"></div>
            <div class="numBtns">
              <div class="plusBtn">+</div>
              <div class="minusBtn">−</div>
            </div>
          </div>
        </dd>
        {{/if}}
        {{#if enableDifficulty}}
        <dt>Difficulty:</dt>
        <dd>
          <p>
            <div class="niceNumber" onmousedown="let v = event.target.textContent;let i= this.querySelectorAll('input')[0];if(v=='+'){i.value++}if(v=='−'){i.value--};i.dispatchEvent(new Event('input'))">
              <div class="theNumber first"><span>8</span><input name="dicePoolDifficulty" type="number" min="1" max="10" value="8" oninput="this.previousElementSibling.textContent=this.value"></div>
              <div class="numBtns">
                <div class="plusBtn">+</div>
                <div class="minusBtn">−</div>
              </div>
            </div>
          </p>
        </dd>
        {{/if}}
        <dt>Modifiers:</dt>
        <dd>
          <div>
            <div>
              <div class="buttonset">
                <label><input type="radio" name="explodeThreshold" value="8"><span>8+ again</span></label>
                <label><input type="radio" name="explodeThreshold" value="9"><span>9+ again</span></label>
                <label><input type="radio" name="explodeThreshold" value="10" checked><span>10 again</span></label>
                <label><input type="radio" name="explodeThreshold" value="11"><span>None</span></label>
              </div>
            </div>
            <p>
              <label class="checkBox">
                <input data-dtype="Boolean" name="rote_action" type="checkbox" {{checked data.isMagical}}>
                <span>Rote Action</span>
              </label>
            </p>
          </div>
        </dd>
        {{#if spendAmmo}}
        <dt>Ammo per shot:</dt>
        <dd>
          <p>
            <div class="niceNumber" onmousedown="let v = event.target.textContent;let i= this.querySelectorAll('input')[0];if(v=='+'){i.value++}if(v=='−'){i.value--};i.dispatchEvent(new Event('input'))">
              <div class="theNumber first"><span>1</span><input name="ammoPerShot" type="number" min="1" max="000" value="1" oninput="this.previousElementSibling.textContent=this.value"></div>
              <div class="numBtns">
                <div class="plusBtn">+</div>
                <div class="minusBtn">−</div>
              </div>
            </div>
          </p>
        </dd>
        {{/if}}


      </dl>
    </div>
    <div>
      <div class="megaBtn">
        <button type="button" class="button roll-execute stoneButton">Execute</button>
      </div>
    </div>

  </div>

</div>