<form class="{{cssClass}}" autocomplete="off">

  <div class="characterSheet">

    {{!-- Sheet Header --}}
    <!-- Column #1 -->
    <div class="sheet-header stats">

      <!-- Column #1-->
      <div class="portrait">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}">
      </div>

      <!-- Column #2 -->
      <div>
        <!-- Row #1 -->
        <h1 class="character-name"><input type="text" name="name" value="{{actor.name}}" placeholder="Name"> </h1>

        <!-- Row #2 -->
        <div class="bottomCharaBlock">
          <div class="kInput statBox big health">
            <h4>{{localize "MTA.Corpus"}}</h4>
            <div class="gold-border"> </div>
            <div class="kMageTracker" data-type="health" data-name="data.health" data-states="max/value/lethal/aggravated" data-max="{{data.health.max}}" data-aggravated="{{data.health.aggravated}}" data-lethal="{{data.health.lethal}}" data-value="{{data.health.value}}"></div>
          </div>

          <div class="kInput statBox big">
            <h4>
              <input class="attribute-check" id="Essence{{actor._id}}" data-attributeValue={{data.essence.max}} data-attributeLabel="Essence" type="checkbox" data-dtype="Boolean">
              <label class="button attribute-button" for="Essence{{actor._id}}">{{localize "MTA.Essence"}}</label>
            </h4>
            <div class="gold-border"> </div>
            <div class="split">
              <div class="niceNumber buttonsLeft" onmousedown="let v = event.target.textContent;let i= this.querySelector('input');if(v=='+'){i.value++}if(v=='−'){i.value--} i.dispatchEvent(new Event('change',{'bubbles':true}));">
                <input name="data.essence.value" type="number" value="{{data.essence.value}}" data-dtype="Number">
                <div class="numBtns">
                  <div class="plusBtn">+</div>
                  <div class="minusBtn">−</div>
                </div>
              </div>
              <span class="delimiter"> / </span>
              <div class="niceNumber" onmousedown="let v = event.target.textContent;let i= this.querySelector('input');if(v=='+'){i.value++}if(v=='−'){i.value--} i.dispatchEvent(new Event('change',{'bubbles':true}));">
                <input name="data.essence.max" type="number" value="{{data.essence.max}}" data-dtype="Number">
                <div class="numBtns">
                  <div class="plusBtn">+</div>
                  <div class="minusBtn">−</div>
                </div>
              </div>
            </div>
          </div>
          <div class="kInput statBox big">
            <h4>
              <input class="attribute-check" id="Willpower{{actor._id}}" data-attributeValue={{data.willpower.max}} data-attributeLabel="Willpower" type="checkbox" data-dtype="Boolean">
              <label class="button attribute-button" for="Willpower{{actor._id}}">Willpower</label>
            </h4>
            <div class="gold-border"> </div>
            <div class="split">
              <div class="niceNumber buttonsLeft" onmousedown="let v = event.target.textContent;let i= this.querySelector('input');if(v=='+'){i.value++}if(v=='−'){i.value--} i.dispatchEvent(new Event('change',{'bubbles':true}));">
                <input name="data.willpower.value" type="number" value="{{data.willpower.value}}" data-dtype="Number">
                <div class="numBtns">
                  <div class="plusBtn">+</div>
                  <div class="minusBtn">−</div>
                </div>
              </div>
              <span class="delimiter"> / </span>
              <div class="niceNumber" onmousedown="let v = event.target.textContent;let i= this.querySelector('input');if(v=='+'){i.value++}if(v=='−'){i.value--} i.dispatchEvent(new Event('change',{'bubbles':true}));">
                <input name="data.willpower.max" type="number" value="{{data.willpower.max}}" data-dtype="Number">
                <div class="numBtns">
                  <div class="plusBtn">+</div>
                  <div class="minusBtn">−</div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>

    {{!-- Sheet Side --}}
    <div class="conditions">
      <div class="character-type">
        <span class="tooltip left">
          <span class="tooltip-text">{{ localize "MTA.TooltipTypeVisible" }}</span>
          <label class="equipped checkBox">
            <input data-dtype="Boolean" name="data.isTypeKnown" type="checkbox" {{checked data.isTypeKnown}}>
            <span></span>
          </label>
        </span>
        <select name="data.ephemeralType">
          {{#select data.ephemeralType}}
            {{#each config.ephemeralTypes}}
              <option value="{{this}}">{{this}}</option>
            {{/each}}
          {{/select}}
        </select>
        <div class="ephemeral-rank">
          <h4>
            <input class="attribute-check" id="Rank{{actor._id}}" data-attributeValue={{data.rank}} data-attributeLabel="{{localize 'MTA.Rank'}}" type="checkbox" data-dtype="Boolean">
            <label class="button attribute-button" for="Rank{{actor._id}}">{{localize "MTA.Rank"}}</label>
            <input type="number" name="data.rank" value={{data.rank}} data-dtype="Number" min="0" max="10" />
          </h4>
          <h4> {{ephemeralEntityName}}</h4>
        </div>
      </div>
      
      <!-- Block #1 -->

      <div class="kInput statBox">
        <h4>{{localize "MTA.DerivedTraits"}}</h4>
        <div class="gold-border"> </div>
        <div class="armourGrid">
          {{#each config.derivedTraits as |cvalue ckey|}}
          {{#with (lookup ../data.derivedTraits [ckey])}}
            <span>
              <input class="attribute-check" id="{{cvalue}}{{../../actor._id}}" data-attribute="{{ckey}}" data-attributeValue={{chooseNum final value}} data-attributeLabel="{{cvalue}}" type="checkbox" data-dtype="Boolean">
              <label class="button attribute-button" for="{{cvalue}}{{../../actor._id}}">{{cvalue}}</label>
            </span>
            <input value={{chooseNum final value}} disabled>
            <div class="niceNumber digits2" onmousedown="let v = event.target.textContent;let i= this.querySelector('input');if(v=='+'){i.value++}if(v=='−'){i.value--} i.dispatchEvent(new Event('change',{'bubbles':true}));">
              <input name="data.derivedTraits.{{ckey}}.mod" type="text" placeholder="0" data-dtype="Number" value="{{numberFormat mod decimals=0 sign=true}}" min=-99 max=99>
              <div class="numBtns">
                <div class="plusBtn">+</div>
                <div class="minusBtn">−</div>
              </div>
            </div>
          {{/with}}
          {{/each}}
        </div>
      </div>
      <div class="items-block">
        <div class="items-table">
          {{!-- Numina --}}
          <table class="item-table">
            <thead>
              <tr class="item-row header">
                <th class="cell header first"> 
                  <span class="collapsible button fas fa-minus-square"> </span>
                  <span class="sortable button" data-type="numen">{{localize "MTA.Numina"}}<i class="fas fa-sort"></i> </span>
                </th>
                {{#each inventory.numen.dataset}}
                  <th class="cell header"> {{this}} </th>
                {{/each}}
                <th class="cell header"> </th>
                <th class="cell header button item-create" data-type="numen">{{ localize "MTA.ButtonAdd" }}</th>
              </tr>
            </thead>
            <tbody>
              {{#each inventory.numen.items as |item iid|}}
                <tr class="item-row item" data-item-id="{{item._id}}">
                  <td class="cell item-name first {{#if @last}} lastRow {{/if}}" data-item-id="{{item._id}}">
                    <div class="item-name-wrapper">
                      <div class="item-image" style="background-image: url({{item.img}})"></div>
                      <span> {{item.name}} </span>
                    </div>
                  </td>
                  <td class="cell {{#if @last}} lastRow {{/if}}">{{convertBool data.reaching}}</td>
                  <td class="cell {{#if @last}} lastRow {{/if}}"> 
                    <i class="favicon {{#if data.isFavorite}} fas {{else}} far {{/if}} fa-star" title="Favorite" data-item-id="{{item._id}}"></i>
                  </td>
                  <td class="cell edit-delete {{#if @last}} lastRow {{/if}}">
                    <span class="button stoneButton item-edit" data-item-id="{{item._id}}" title="{{ localize 'MTA.EditItem' }}"><i class="fas fa-edit"></i></span>
                    <span class="button stoneButton item-delete" data-item-id="{{item._id}}" title="{{ localize 'MTA.DeleteItem' }}"><i class="fas fa-times-circle"></i></span>
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
      <div class="items-block">
        <div class="items-table">
          {{!-- Manifestations --}}
          <table class="item-table">
            <tr class="item-row header">
              <th class="cell header first"> 
                <span class="collapsible button fas fa-minus-square"> </span>
                <span class="sortable button" data-type="manifestation">{{localize "MTA.Manifestations"}}<i class="fas fa-sort"></i> </span>
              </th>
              {{#each inventory.manifestation.dataset}}
                <th class="cell header"> {{this}} </th>
              {{/each}}
              <th class="cell header"> </th>
              <th class="cell header button item-create" data-type="manifestation">{{ localize "MTA.ButtonAdd" }}</th>
            </tr>
            {{#each inventory.manifestation.items as |item iid|}}
              <tr class="item-row" data-item-id="{{item._id}}">
                <td class="cell item-name first {{#if @last}} lastRow {{/if}}" data-item-id="{{item._id}}">
                  <div class="item-name-wrapper"> 
                    <div class="item-image" style="background-image: url({{item.img}})"></div>
                    <span> {{item.name}} </span>
                  </div>
                </td>
                <td class="cell {{#if @last}} lastRow {{/if}}"> 
                  <i class="favicon {{#if data.isFavorite}} fas {{else}} far {{/if}} fa-star" title="Favorite" data-item-id="{{item._id}}"></i>
                </td>
                <td class="cell edit-delete {{#if @last}} lastRow {{/if}}">
                  <span class="button stoneButton item-edit" data-item-id="{{item._id}}" title="{{ localize 'MTA.EditItem' }}"><i class="fas fa-edit"></i></span>
                  <span class="button stoneButton item-delete" data-item-id="{{item._id}}" title="{{ localize 'MTA.DeleteItem' }}"><i class="fas fa-times-circle"></i></span>
                </td>
              </tr>
            {{/each}}
          </table>
        </div>
      </div>
      <div class="items-block">
        <div class="items-table">
          {{!-- Conditions --}}
          <table class="item-table">
            <thead>
              <tr class="item-row header">
                <th class="cell header first"> 
                  <span class="collapsible button fas fa-minus-square"> </span>
                  <span class="sortable button" data-type="condition">{{localize "MTA.Conditions"}}<i class="fas fa-sort"></i> </span>
                </th>
                {{#each inventory.condition.dataset}}
                  <th class="cell header"> {{this}} </th>
                {{/each}}
                <th class="cell header button item-create" data-type="condition">{{ localize "MTA.ButtonAdd" }}</th>
              </tr>
            </thead>
            <tbody>
              {{#each inventory.condition.items as |item iid|}}
                <tr class="item-row item" data-item-id="{{item._id}}">
                  <td class="cell item-name first {{#if @last}} lastRow {{/if}}" data-item-id="{{item._id}}">
                    <div class="item-name-wrapper">
                      <div class="item-image" style="background-image: url({{item.img}})"></div>
                      <span> {{item.name}} </span>
                    </div>
                  </td>
                  <td class="cell {{#if @last}} lastRow {{/if}}"> {{convertBool data.isPersistent}}</td>
                  <td class="cell edit-delete {{#if @last}} lastRow {{/if}}">
                    <span class="button stoneButton item-edit" data-item-id="{{item._id}}" title="{{ localize 'MTA.EditItem' }}"><i class="fas fa-edit"></i></span>
                    <span class="button stoneButton item-delete" data-item-id="{{item._id}}" title="{{ localize 'MTA.DeleteItem' }}"><i class="fas fa-times-circle"></i></span>
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
      <div class="items-block">
        <div class="items-table">
          {{!-- Tilts --}}
          <table class="item-table">
            <thead>
              <tr class="item-row header">
                <th class="cell header first"> 
                  <span class="collapsible button fas fa-minus-square"> </span>
                  <span class="sortable button" data-type="tilt">{{localize "MTA.Tilts"}}<i class="fas fa-sort"></i> </span>
                </th>
                {{#each inventory.tilt.dataset}}
                  <th class="cell header"> {{this}} </th>
                {{/each}}
                <th class="cell header button item-create" data-type="tilt">{{ localize "MTA.ButtonAdd" }}</th>
              </tr>
            </thead>
            <tbody>
              {{#each inventory.tilt.items as |item iid|}}
                <tr class="item-row item" data-item-id="{{item._id}}">
                  <td class="cell item-name first {{#if @last}} lastRow {{/if}}" data-item-id="{{item._id}}">
                    <div class="item-name-wrapper">
                      <div class="item-image" style="background-image: url({{item.img}})"></div>
                      <span> {{item.name}} </span>
                    </div>
                  </td>
                  <td class="cell {{#if @last}} lastRow {{/if}}"> {{convertBool data.isEnvironmental}}</td>
                  <td class="cell edit-delete {{#if @last}} lastRow {{/if}}">
                    <span class="button stoneButton item-edit" data-item-id="{{item._id}}" title="{{ localize 'MTA.EditItem' }}"><i class="fas fa-edit"></i></span>
                    <span class="button stoneButton item-delete" data-item-id="{{item._id}}" title="{{ localize 'MTA.DeleteItem' }}"><i class="fas fa-times-circle"></i></span>
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="characterMacroPanel">
      <div>
        <div class="button charMacroButton rollButton tooltip">
          <span class="tooltip-text">{{ localize "MTA.TooltipSkillTest" }}</span>
          <img src="systems/mta/icons/gui/d10.svg" alt="Skill check.">
        </div>
      </div>
    </div>


    <div class="sheet-body tab active">

      <div class="attributes" data-tab="attributes">
        <div class="tab-block">
          <div class="attributes-flexrow">
            <ol class="attributes-list">
              {{#each config.eph_physical as |cvalue ckey|}}
              {{#with (lookup ../data.eph_physical [ckey])}}
                <li class="attribute flexrow" data-attribute="power">
                  <span>
                    <input class="attribute-check" id="eph_physical{{cvalue}}{{../../actor._id}}" data-attribute="{{ckey}}" data-attributeValue={{chooseNum final value}} data-attributeLabel="{{cvalue}}" type="checkbox" data-dtype="Boolean">
                    <label class="button attribute-button" for="eph_physical{{cvalue}}{{../../actor._id}}">{{cvalue}}</label>
                  </span>
                  <span>
                    <span class="attribute-mod {{posneg final value}}">{{addBrackets final}}</span>
                    <input class="attribute-value" type="number" name="data.eph_physical.{{ckey}}.value" value={{chooseNum value 0}} data-dtype="Number" min=0 max=999>
                  </span>
                </li>
              {{/with}}
              {{/each}}
            </ol>
            <ol class="attributes-list">
              {{#each config.eph_social as |cvalue ckey|}}
              {{#with (lookup ../data.eph_social [ckey])}}
                <li class="attribute flexrow" data-attribute="power">
                  <span>
                    <input class="attribute-check" id="eph_social{{cvalue}}{{../../actor._id}}" data-attribute="{{ckey}}" data-attributeValue={{chooseNum final value}} data-attributeLabel="{{cvalue}}" type="checkbox" data-dtype="Boolean">
                    <label class="button attribute-button" for="eph_social{{cvalue}}{{../../actor._id}}">{{cvalue}}</label>
                  </span>
                  <span>
                    <span class="attribute-mod {{posneg final value}}">{{addBrackets final}}</span>
                    <input class="attribute-value" type="number" name="data.eph_social.{{ckey}}.value" value={{chooseNum value 0}} data-dtype="Number" min=0 max=999>
                  </span>
                </li>
              {{/with}}
              {{/each}}
            </ol>
            <ol class="attributes-list">
              {{#each config.eph_mental as |cvalue ckey|}}
              {{#with (lookup ../data.eph_mental [ckey])}}
                <li class="attribute flexrow" data-attribute="power">
                  <span>
                    <input class="attribute-check" id="eph_mental{{cvalue}}{{../../actor._id}}" data-attribute="{{ckey}}" data-attributeValue={{chooseNum final value}} data-attributeLabel="{{cvalue}}" type="checkbox" data-dtype="Boolean">
                    <label class="button attribute-button" for="eph_mental{{cvalue}}{{../../actor._id}}">{{cvalue}}</label>
                  </span>
                  <span>
                    <span class="attribute-mod {{posneg final value}}">{{addBrackets final}}</span>
                    <input class="attribute-value" type="number" name="data.eph_mental.{{ckey}}.value" value={{chooseNum value 0}} data-dtype="Number" min=0 max=999>
                  </span>
                </li>
              {{/with}}
              {{/each}}
            </ol>
          </div>
        </div>
      </div>


      <div class="items-block">
        <div class="items-table">
          {{!-- Influences --}}
          <table class="item-table">
            <thead>
              <tr class="item-row header">
                <th class="cell header first"> 
                  <span class="collapsible button fas fa-minus-square"> </span>
                  <span class="sortable button" data-type="influence">{{localize "MTA.SpheresOfInfluence"}}<i class="fas fa-sort"></i> </span>
                </th>
                {{#each inventory.influence.dataset}}
                  <th class="cell header"> {{this}} </th>
                {{/each}}
                <th class="cell header"> </th>
                <th class="cell header button item-create" data-type="influence">{{ localize "MTA.ButtonAdd" }}</th>
              </tr>
            </thead>
            <tbody>
              {{#each inventory.influence.items as |item iid|}}
                <tr class="item-row item" data-item-id="{{item._id}}">
                  <td class="cell item-name first {{#if @last}} lastRow {{/if}} {{#if data.isMagical}} magic-item {{/if}}" data-item-id="{{item._id}}">
                    <div class="item-image" style="background-image: url({{item.img}})"></div>
                    <span> {{item.name}} </span>
                  </td>
                  <td class="cell {{#if @last}} lastRow {{/if}}"> {{data.rating}}</td>
                  <td class="cell {{#if @last}} lastRow {{/if}}"> 
                    <i class="favicon {{#if data.isFavorite}} fas {{else}} far {{/if}} fa-star" title="Favorite" data-item-id="{{item._id}}"></i>
                  </td>
                  <td class="cell edit-delete {{#if @last}} lastRow {{/if}}">
                    <span class="button stoneButton item-edit" data-item-id="{{item._id}}" title="{{ localize 'MTA.EditItem' }}"><i class="fas fa-edit"></i></span>
                    <span class="button stoneButton item-delete" data-item-id="{{item._id}}" title="{{ localize 'MTA.DeleteItem' }}"><i class="fas fa-times-circle"></i></span>
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>

      <div class="item-stat-block">
        {{#if (eqAny data.ephemeralType "Ghost" "Angel")}}
        <div class="form-line">
          <label>{{localize "MTA.Virtue"}}</label> <input name="data.virtue" type="text" value="{{data.virtue}}" />
        </div>
        <div class="form-line">
          <label>{{localize "MTA.Vice"}}</label> <input name="data.vice" type="text" value="{{data.vice}}" />
        </div>
        {{/if}}
        {{#if (eq data.ephemeralType "Ghost")}}
        <div class="form-line">
            <label>{{localize "MTA.Integrity"}}</label> <input name="data.integrity" type="number" data-dtype="Number" value="{{data.integrity}}" />
          </div>
        {{/if}}
        <div class="form-line">
          <label>{{localize "MTA.Aspirations"}}</label>
          <textarea name="data.aspirations" placeholder="Aspirations">{{data.aspirations}}</textarea>
        </div>
        <div class="form-line">
          <label>{{localize "MTA.Bans"}}</label>
          <textarea name="data.bans" placeholder="Bans">{{data.bans}}</textarea>
        </div>
        <div class="form-line">
          <label>{{localize "MTA.Banes"}}</label>
          <textarea name="data.banes" placeholder="Banes">{{data.banes}}</textarea>
        </div>
        <div class="form-line">
          <label>{{localize "MTA.EssenceSource"}}</label>
          <textarea name="data.essenceSource" placeholder="Essence Source">{{data.essenceSource}}</textarea>
        </div>
        <div class="form-line">
          <label>{{localize "MTA.Aliases"}}</label>
          <textarea name="data.aliases" placeholder="Aliases">{{data.aliases}}</textarea>
        </div>
        <div class="form-line">
          <label>{{localize "MTA.Notes"}}</label>
          <textarea name="data.notes" placeholder="Notes">{{data.notes}}</textarea>
        </div>
      </div>
    </div>
  </div>
</form>